<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.example.xinda_05.my">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".My_Jump.My_releaseActivity"></activity>
        <activity android:name=".My_Jump.My_collectionActivity"></activity>
        <activity android:name=".My_Jump.My_thedraftActivity"></activity>
        <activity android:name=".My_Jump.My_aboutActivity"></activity>
        <activity android:name=".My_Jump.My_StatementActivitiy"></activity>
        <activity android:name=".My_Jump.My_MessageActivity"></activity>
        <activity android:name=".My_Jump.My_pwdActivity"></activity>
        <activity android:name=".My_Jump.My_pwdforgetActivity"></activity>
    </application>


</manifest>
