<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.example.xinda_05.user">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".User_login"/>
        <activity android:name=".User_forgetpasssword"/>
        <activity android:name=".User_modifypassword"/>
        <activity android:name=".User_registration"/>
        <activity android:name="User_Info_change"/>


    </application>

</manifest>
